{% extends 'base.html' %}
{% load static %}
{% block css %}
<style>
    .container1 {
        height: 300px;
        background-color: #212529;
        font-size: 30px;
        text-align: center;
        color: white;
        text-transform: uppercase;
    }
</style>
{% endblock %}

{% block body %}

<main class="container mb-1">
    <div class="p-4 p-md-5 mb-5 mt-5 text-white rounded bg-dark">
        <div class="col-md-6 px-0">
            <h1 class="display-4 fst-italic">About us</h1>
            <p class="lead my-3">TSF foundation is a Professional NGO Platform. Here we will provide
                
                basic needs and education to Children.<br />
                Founded in 2020 by blah-blah, TSF Foundation has come a long way from its beginnings in Nashik.<br> When
                Our
                Founder first started out,
                his passion and dedication for Social Work drove them to quit day job.<br>
                so that TSF foundation can help to the Helpless.
                We now help thousands all over the India.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis nesciunt minus nam amet nisi,
                consequatur iusto quod exercitationem quae fuga. A deserunt animi quos reprehenderit. Asperiores officia
                incidunt quasi in.</p>
            <p class="lead mb-0"><a href="#" class="text-white fw-bold"></a></p>
        </div>
    </div>
</main><br><br>




{% endblock %}